.ratingContainer{
    position: relative;
    display: grid;
    grid-template-columns: 10em 12em;
}
.imgDetailsSerie {
    max-width: 600px;
    min-height: 200px;
    border: 8px solid #FF4081;
}
.star {
    max-width: 40px;
    margin-top: 3%;
}
.nbRatingContainer{
    height: 60px;
    position: relative;
}
.nbRating {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.nbRating p {
    display: block;
    width: 5em;
    margin: 0;
    font-size: 22px;
    font-weight: 700;
    text-align: left;

}

.nomDetailsSerie {
    color:#FF4081;
}

.detailsSerie {
    padding-top: 30px;
}