.imgUneSerie {
    max-width: 600px;
    width: 80%;
    border: 6px solid #FF4081;
}

.nomUneSerie {
    text-decoration: none;
    font-size: 25px;
    color: black;
}

a {
    text-decoration: none;
}
.uneSerie {
    padding-top: 100px;
}